body {
    width: 25%;
    margin:auto;
    text-align: center ;
    font-family: Poppins, sans-serif;
    
}
div.wrapper{  

    border: 2px solid black;
    border-radius: 5px;
}
h1{
    font-family: 'Abril Fatface', serif;
}

div.summary  {
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 5px 0px;
}
span.completed {
    text-decoration:line-through ;
}
div.summary span{
    padding: 5px 0px;
}
ul{
    list-style: none;
    border: 1px solid lightcoral;
    }
ul#todolist li:hover {
    background-color: #b7eef8;
    }
main, header, ul, .wrapper{
    background-color: aquamarine;
    }
    input{
        background-color: lightskyblue;
    }
    li {
        text-align: left;}
div.summary span.star {
    padding-left: 15px;
    padding-right: 10px;
}  
ul#todolist .todo_item.completed label {
    text-decoration: line-through;
    color: #999;
  }      
/* 
}

li input {
    display: none;
}
   li.write span {
    display: none;
} 
li.write input {
    display: initial;
}
dis-n {
    display:none;
} */